#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.cel {
  outline: 1px solid gray;
  background-color: bisque;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}
.cel_active {
  background-color: black !important;
}
.board {
  background-color: black;
  border: 2px solid white;
  display: grid;
  grid-template-columns: repeat(25, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 0;
  justify-content: start;
  align-items: start;
}
.controls_container {
  width: 20em;
  height: 8em;
  display: grid;
  justify-items: center;
  align-content: space-between;
  gap: 2;
  background-color: rgb(24, 24, 24);
  border-radius: 40px;
  padding: 5px;
  grid-template-columns: 1;
  grid-template-rows: 2;
}
.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2;
  padding: 5px;
}
button,
button:focus {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}
.select {
  width: 90%;
  border-radius: 20px;
  height: 40px;
  color: aliceblue;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
}
.select option {
  color: aliceblue;
  letter-spacing: 2px;
}
.active_button {
  background-color: rgba(86, 86, 86, 0.838);
  outline: none;
  border: none;
}
.note {
  padding: 0;
  margin: 0;
  text-align: left;
  height: 2em;
}
